
.pie_graph {
    height: 360px;
    position: relative;
    width: 360px;
    text-align: center;
}

.arc path {
    stroke: #fff;
}

.legend {
    font-size: 12px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    color: #4A4A4A;
    line-height: 2;
}

rect {
    stroke-width: 2;
}

.pie_tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    width: 100px;
    z-index: 1000;
    margin-left: -430px;
}
