
body {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.wday {
    box-sizing: border-box;
    display: block;
    text-anchor: middle;
    font: 11px sans-serif;
    padding: 2px 0px 4px;
}

.day {
    fill: #eeeeee;
    stroke: #ffffff;
}

.month {
    fill: none;
    stroke: #A6A6A6;
    stroke-width: 1px;
}

/* 1 - 9 */
.RdYlGn .q0-5 {
    fill: #d6e685
}

/* 10 - 19 */
.RdYlGn .q1-5 {
    fill: #8cc665
}

/* 20 - 29 */
.RdYlGn .q2-5 {
    fill: #44a340
}

/* 30 - 39 */
.RdYlGn .q3-5 {
    fill: #1e6823
}

/* 40+ */
.RdYlGn .q4-5 {
    fill: #304030
}

/*stylesheet style.css?e51a6469*/
a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0px;
}

small {
    font-size: 80%;
}

svg:not(:root) {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h3, h4 {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #4A4A4A;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-4, .col-md-4, .col-xs-6, .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-4, .col-xs-6 {
    float: left;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-4 {
    width: 33.3333%;
}

