
body {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.wday {
    box-sizing: border-box;
    display: block;
    text-anchor: middle;
    font: 11px sans-serif;
    padding: 2px 0px 4px;
}

.day {
    fill: #eeeeee;
    stroke: #ffffff;
}

.month {
    fill: none;
    stroke: #A6A6A6;
    stroke-width: 1px;
}

/* 1 - 9 */
.RdYlGn .q0-5 {
    fill: #d6e685
}

/* 10 - 19 */
.RdYlGn .q1-5 {
    fill: #8cc665
}

/* 20 - 29 */
.RdYlGn .q2-5 {
    fill: #44a340
}

/* 30 - 39 */
.RdYlGn .q3-5 {
    fill: #1e6823
}

/* 40+ */
.RdYlGn .q4-5 {
    fill: #304030
}